@font-face {
    font-family: ForeverYoung;
<<<<<<< HEAD
    src: url("../fonts/ForeverYoung.eot"),
         url("../fonts/ForeverYoung.svg"),
         url("../fonts/ForeverYoung.woff"),
         url("../fonts/ForeverYoung.woff2");
=======
    src: url("../fonts/Forever Young.eot"),
         url("../fonts/Forever Young.svg"),
         url("../fonts/Forever Young.woff"),
         url("../fonts/Forever Young.woff2");
>>>>>>> ae227e1c85053b13cd05ea3e5768710af04ef84a
}

body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding-left: 0px;
    padding-right: 0px;
}


p{
  opacity: 0.5;
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  color: #313131;  
}

.titles {
    font-family: 'ForeverYoung'
}

.event-title {
    font-size: 200px !important;
    color: #00e0ff !important;
    line-height: 0.55 !important;
    padding-bottom: 50px;
}

.section-title {
    font-size: 108px !important;
    color: #9f9aae !important;
    line-height: 0.55 !important;
    padding-bottom: 50px;
}

.container-fluid {
    padding: 0px;
}

.container-fluid > * {
    margin: 0 -15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FCF5F5;
}

.container-fluid .page-header {
    padding-top: 15px;
    text-align: center;
}

.no-margin{
    width: 100%
    padding: 0px !important;
}

.container {
    display: table;
}



.center-mkt{
    margin-top: 50px;
    padding-top: 50px;
}

.mkt {
  border: solid 3.6px #ffffff;
  display: inline-block;   
  width: 481px;
  height: 69px;
  font-family: Poppins;
  font-size: 55px;
  font-weight: bold;
  line-height: 1.16;
  text-align: center;
  color: #ffffff;
  margin: 0 auto; 
}

.centered {
    display: table-cell;
    width: 316px;
    text-align: center;
    vertical-align: middle;
}

[id^=section] > .row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.page-header {
    background-image: url("../img/top_bg_opt.jpg");
    text-align: center;
    margin: auto;
      background-size: cover;
}

.page-header span {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #75C8F8;
    font-weight: bold;
    font-size: 72px;
}

.page-header h1 {
    border: solid 1px;
    border-radius: 1px;
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page-header h1, .page-header h2, .page-header h3 {
    margin: 0;
    font-style: bold;
    color: #FFFFFF;
    font-weight: bold;
}

.page-header p {
    font-size: 16px;
    color: #FFFFFF;
}

.page-header a {
    margin-top: 10px;
    color: #FFFFFF;

    border-color: #DF3274;
}

#section-evento {
    padding-top: 15px;
    padding-bottom: 35px;
    color: #6E6E70;
}

#section-palestrantes {
    text-align: left;
    padding-bottom: 15px;
    color: #6E6E70;
}

#section-palestrantes .bio {
    font-size: 16px;
    text-align: center;
}

#section-palestrantes .wrapper-img-bio {
    display: inline-block;
    padding-bottom: 10px;
}

#section-palestrantes .wrapper-img-bio img {
    width: 80px;
    height: 80px;
}

#section-palestrantes .nome {
    text-align: center;
    font-weight: bold;
}

#section-palestrantes #ingresso a {
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #DF3274;
    border-color: #DF3274;
}

#section-patrocinadores {
    background-color: #fcfcfc;
    padding-bottom: 20px;
    color: #6E6E70;
    text-align: center;
}

#section-patrocinadores h1 {
    margin-top: 30px;
    margin-bottom: 30px;  
}

#section-patrocinadores #col-sm-4 {
    margin-top: 15px;
    padding-bottom: 15px;
}

.page-footer {
    background-image: url("../img/footer.jpg");
    text-align: center;
<<<<<<< HEAD
    background-repeat: no-repeat;
    background-size: 100% 100%;
=======
	background-repeat: no-repeat;
	background-size: 100% 100%;
>>>>>>> ae227e1c85053b13cd05ea3e5768710af04ef84a
}

.page-footer h1 {
    padding-top: 15px; 
    margin-top: 25px;
    margin-bottom: 25px; 
}

.page-footer h1, .page-footer h2 {
    margin: 0;
    font-style: bold; 
    color: #FFFFFF;  
}

.page-footer h2 {
    margin-top: 15px;
    margin-bottom: 15px;  
}

.page-footer a {
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #DF3274;
    border-color: #DF3274;
}

.page-footer p {
    font-size: 16px;
}
